# Общие файлы операционной системы
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Папки и файлы для разработки
node_modules/
.idea/
.vscode/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development
.env.test
.env.production

# Файлы сборки
dist/
build/
coverage/
*.min.js
*.min.css

# Временные файлы
*.tmp
*.bak
*.swp

# Файлы базы данных
*.sqlite
*.sqlite3
*.db 